.pagination > .active > a {
    color: black;
    background-color: #1eb871 !Important;
    border: solid 1px #1eb871 !Important;
}

.pagination > .page-item > a {
    color: #1eb871;
}

a {
  font-weight: bold;
  color: #1eb871;
}

.dropdown-item:active{
  background-color: #1eb871;
  color: white;
}

.hidden-menu{
  display: none;
}

.select2-selection__choice{
  background-color: #1eb871 !important;
  border-color: #1eb871 !important;
}

.nav-link.active{
  background-color: #1eb871 !important;
}

.navbar-primary{
  background-color: #1eb871 !important;
}

.table{
  width: 99%;
}