html,
body {
  height: 100%;
  background-color:#1eb871 !important; 
  color: white;
}

#login-card{
  background-color: white;
}

#login-title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

#login-button{
  background-color:#1eb871;
}